<!DOCTYPE html>
<html>
<head>
    <title>Welcome to GT Movies Store</title>
</head>
<body>
    <h1>Welcome to GT Movies Store</h1>
    <p>Explore movies <a href="{% url 'index' %}">here</a>.</p>
    <p>View your cart <a href="{% url 'view_cart' %}">here</a>.</p>
    <p>Sign up for an account <a href="{% url 'signup' %}">here</a>.</p>
    <p>Log in to your account <a href="{% url 'login' %}">here</a>.</p>
    <form action="{% url 'logout' %}" method="post" style="display: inline;">
        {% csrf_token %}
        <button type="submit" style="background: none; border: none; color: blue; cursor: pointer; text-decoration: underline;">
            Log out here
        </button>
    </form>
    </body>
</html>